{% load crispy_forms_tags %}
{% include "partials/header.html" %}
<body>
    {% include "partials/navbar.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class="block float-left border col-10">
                <form enctype='multipart/form-data' method="POST">
                    {% csrf_token %}
                    {{ statut_form.as_p }}
                    <input type="submit" name="submit" value="get in touch">
                </form>
                {% for statut in status %}
                    <p>{{ statut.text }}</p>
                    {% if statut.picture %}
                    <img src="{{statut.picture.url}}" class="card-img-top" alt="...">
                    {% endif %}
                {% endfor %}

            </div>
            <div class="block float-right col-2">
                {% for follower in followers %}
                <div class="card" style="width: 18rem;">
                    <img src="{{follower.picture.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ follower.username }}</h5>
                        {% if request.user.id == profile.user.id %}
                        <a href="#" class="btn btn-primary">unFollow</a>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
    </div>
</body>