{% load crispy_forms_tags %}
{% include "partials/header.html" %}

<body>
    <div class="container-fluid">
        {% include "partials/navbar.html" %}
        <div class="row">
            <div class="col-sm-5 offset-5">
                <div>
                    <h1>Signup</h1>
                    <form enctype='multipart/form-data' method="POST">
                        {% csrf_token %}
                        <div>{{ signup_form.username |as_crispy_field }}</div><br>
                        <div>{{ signup_form.password |as_crispy_field }}</div><br>
                        <div>{{ signup_form.first_name |as_crispy_field }}</div><br>
                        <div>{{ signup_form.last_name |as_crispy_field }}</div><br>
                        <div>{{ signup_form.email |as_crispy_field }}</div><br>
                        <div>{{ profile_form.picture |as_crispy_field }}</div><br>
                        <input class="btn btn-primary" type="submit" name="submit" value="get in touch">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% include "partials/footer.html" %}