{% load crispy_forms_tags %}
{% load staticfiles %}
{% include "partials/header.html" %}

<body>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-sm-6 offset-4">
                <div class="row">
                    <div class="block_left float-left mr-5"><img style="height: 780px;" src="{% static 'images/insta-pic.jpg' %}"
                            alt=""></div>
                    <div class="block_right">
                        <div class="col">
                            <div class="card" style="height: 750px;">
                                <img class="card-img-top ml-5" src="{% static 'images/instagram-letter.png' %}" style="width:150px;"
                                    alt=" Card image cap">
                                <div class="card-body">
                                    <div class="col-lg-1"></div>
                                    <p class="text-secondary">Sign up to see photos and videos <br> from your
                                        friends.</p>
                                    <a href="https://www.facebook.com/MyEdensoft" class="btn btn-sm btn-primary">Se
                                        Log with Facebook</a>
                                    <div class="row ml-3 mt-2">_________ or _________</div>
                                    <form enctype='multipart/form-data' method="POST">
                                        {% csrf_token %}
                                        <div>{{ signup_form.username |as_crispy_field }}</div>
                                        <div>{{ signup_form.password |as_crispy_field }}</div>
                                        <div>{{ signup_form.first_name |as_crispy_field }}</div>
                                        <div>{{ signup_form.last_name |as_crispy_field }}</div>
                                        <div>{{ signup_form.email |as_crispy_field }}</div>
                                        <div>{{ profile_form.picture |as_crispy_field }}</div><br>

                                        <input class="btn btn-sm btn-primary" type="submit" name="submit" value="Sign up">
                                    </form><br>
                                    <p class="text-secondary">By signing up, you agree to our<br>Terms, Data
                                        Policy and
                                        Cookies<br>Policy.</p>
                                </div>
                            </div>
                            <div class="card mt-2" style="width: 20rem;">
                                <div class="card-body">
                                    Have an account? <a href="{% url 'profile_app:login' %}">Log in</a>
                                </div>
                            </div>
                            {% include "partials/apps.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% include "partials/footer.html" %}