{% include "partials/header.html" %}
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="container-fluid">
        <div class="menu_footer text-center py-3">
            <ul>
                <li>A propos de nous</li>
                <li>Support</li>
                <li>Presse</li>
                <li>API</li>
                <li>Emplois</li>
                <li>Confidentialite</li>
                <li>Conditions</li>
                <li>Repertoire</li>
                <li>Profils</li>
                <li>Hashtags</li>
                <li>Langues</li>
            </ul>
        </div>
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#"> INSTAGRAM</a>
        </div>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

</html>